.App {
  text-align: center;
  background-image: linear-gradient(
    to right top,
    #0095ad,
    #008eb6,
    #0085be,
    #007ac2,
    #2c6ec2,
    #4366c4,
    #595dc3,
    #6f52bf,
    #7b4bc2,
    #8841c4,
    #9634c4,
    #a51ec3
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.background-image {
  background: linear-gradient(
    to right bottom,
    #ffffff,
    #f7f6fb,
    #eeedf8,
    #e5e4f4,
    #dcdbf1
  );
  background-image: url("../public/fondo2_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
  height: 93vh;
  width: 95vw;
  background-color: white;
  border-radius: 20px;
}
